---
import Section from "../../components/Section.astro";
import { NavLink } from "../../components/NavLink";
import MainBody from "../../components/MainBody.astro";

import Skills from "../../components/skills.astro";
import flagDK from "../../../static/img/denmark-flag.svg";
import flagIS from "../../../static/img/iceland-flag.svg";
import coffeeAndri from "../../../static/img/coffee-art.jpg";
import cvJSON from "../../../packages/cv/resume.json";
import { dataTransform } from "../../lib/cv";
import Layout from "../../components/Layout.astro";
import BlogCards from "../../components/blog-cards.astro";
import Icon from "../../components/Icon.astro";
import { Image } from "astro:assets";
import { getPosts } from "../../lib/cms";

const blogPosts = await getPosts({ limit: 6 });
const description = "Ég þróa og rek hugbúnað til allra nota";
---

<Layout lang="is" title="Andri Óskarsson" description={description}>
	<main class="min-h-full">
		<MainBody>
			<div class="flex-1">
				<nav class="flex justify-between items-center p-8">
					<Image
						alt="round profile (small)"
						src={coffeeAndri}
						class="rounded-full shadow-2xl w-16 h-16 md:invisible"
					/>
					<div>
						<ul class="flex flex-row">
							<NavLink href="blog/">Blog</NavLink>
							<NavLink href="/rss.xml">RSS</NavLink>
						</ul>
					</div>
				</nav>
				<div
					class="mx-10 md:mx-20 pb-8 lg:mx-40 flex flex-row flex-wrap font-sans"
				>
					<div class="flex-1">
						<h2
							class="font-headline text-3xl md:text-6xl font-semibold inline-block my-2"
						>
							Hæ, Ég er Andri
						</h2>
						<div class="text-lg md:text-2xl">
							<p>
								Tæknitröll frá&nbsp;
								<span aria-hidden hidden> Íslandi</span>
								<Image
									alt="Iceland"
									class="inline-icon"
									src={flagIS}
								/>
								&nbsp; búsettur í &nbsp;
								<span aria-hidden hidden> Danmörku</span>
								<Image
									alt="Denmark"
									class="inline-icon"
									src={flagDK}
								/>
							</p>
							<p>&nbsp;</p>

							<p>&nbsp;</p>
							<p>
								{description}
							</p>
						</div>
					</div>
					<div
						class="hidden md:block p-4 items-start justify-start mr-6"
					>
						<Image
							alt="round profile (large)"
							src={coffeeAndri}
							class="rounded-full shadow-2xl block mx-auto md:w-48 md:h-48"
						/>
					</div>
				</div>
			</div>
		</MainBody>
		<Section title="Síðustu skrif" class="bg-gray-200">
			<BlogCards posts={blogPosts} />
		</Section>
		<Section title="Tækni" class="bg-gray-50">
			<div class="pl-6 md:pl-0 text-sm mb-4 italic">
				Raðað eftir reynslu.
			</div>
			<Skills categories={dataTransform(cvJSON.skills, cvJSON.work)} />
		</Section>
		<Section class="bg-gray-200">
			<div
				class="flex-1 flex flex-row text-lg justify-between px-4 md:px-0 flex-wrap"
			>
				<div class="flex-1 text-lg min-w-fit text-center">
					<p class="mb-4">Finnið mig á Internetinu, og segið "hæ".</p>
				</div>
				<div class="flex-1 flex-row flex clickable justify-center">
					<a
						aria-label="Github"
						href="https://github.com/andrioid"
						target="_blank"
						rel="noopener"
					>
						<Icon name="github" class="mx-2" />
					</a>
					<a
						aria-label="Mastodon"
						target="_blank"
						rel="me noopener"
						href="https://hachyderm.io/@andrioid"
					>
						<Icon name="mastodon" class="mx-2" />
					</a>
					<a
						aria-label="Twitter"
						href="https://twitter.com/andrioid"
						target="_blank"
						rel="noopener"
					>
						<Icon name="twitter" class="mx-2" />
					</a>
					<a
						aria-label="LinkedIn"
						href="https://www.linkedin.com/in/andriosk/"
						target="_blank"
						rel="noopener"
					>
						<Icon name="linkedIn" class="mx-2" />
						<!-- <Icon name="fa:linkedin" class="mx-2" /> -->
					</a>
				</div>
			</div>
		</Section>
	</main>
</Layout>
