---
// Find all blog posts to generate
import Layout from "./Layout.astro";
import PagesLayout from "./PagesLayout.astro";

const { title, date, description, tags } = Astro.props;
---

<Layout title={title} description={description} subtitle={description}>
	<PagesLayout>
		<div
			class="pt-4 bg-gray-200 py-2 md:py-10 md:px-10 min-h-screen md:flex justify-center"
		>
			<div class="bg-white py-10 shadow px-5 lg:px-10 flex-1">
				<div>
					<h1 class="text-gray-900 font-semibold text-xl md:text-3xl">
						{title}
					</h1>
					<div
						class="text-base text-gray-600 flex justify-start mb-4"
					>
						{
							date && (
								<p>
									{new Date(date).toLocaleDateString(
										undefined,
										{
											year: "numeric",
											month: "short",
											day: "numeric",
										}
									)}
								</p>
							)
						}
					</div>
					{
						tags && (
							<div class="mb-4">
								{tags?.map((t: string) => (
									<span class="andri-tag text-base">{t}</span>
								))}
							</div>
						)
					}
				</div>

				<article class="mb-6 prose lg:prose-xl">
					<slot />
				</article>

				<p>&nbsp;</p>
			</div>
		</div>
	</PagesLayout>
</Layout>
