---
import "../../css/global.css";
import { site } from "../constants";
import type { CommonBlogRendered } from "../lib/cms";
export interface Props {
  title: string;
  subtitle?: string;
  description?: string;
  coverImage?: string;
  blogPost?: CommonBlogRendered;
  lang?: string;
}

const { blogPost, lang = "en", ...props } = Astro.props as Props;
const title = blogPost?.title || props.title;
const description = blogPost?.description || props.description;
const ogImage = blogPost ? `/blog/${blogPost.slug}.png` : undefined;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="og:title" content={title} />
    <meta name="twitter:title" content={title} />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <meta name="author" content={site.author} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS for andri.dk"
      href="/rss.xml"
    />

    <link rel="pingback" href="https://webmention.io/andri.dk/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/andri.dk/webmention" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="shortcut icon" href="/img/coffee-icon.png" />

    <meta property="og:image" content={ogImage} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={ogImage} />

    <title>{`andri.dk | ${title}`}</title>
  </head>

  <body class="bg-gray-200">
    <slot />
    <script
      is:inline
      data-goatcounter="https://andrioid.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>
  </body>
</html>
